@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

.nav {
  background: radial-gradient(circle at top left, #e83b0c, #000000 60%);
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@layer utilities {
  .bg-custom-gradient {
    background: radial-gradient(circle at top left, #e83b0c, #000000 60%);
 color: #ffffff;
  }

  .bg-light-gradient {
    background: radial-gradient(circle at top left, #e83b0c, #ffffff 60%);
 color: #000000;
  }
}

.sha{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


html {
  scroll-behavior: smooth;
}
